/* .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  